<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Makers" value="https://pkgs.dev.azure.com/makersfunds/_packaging/Core/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Makers>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </Makers>
  </packageSourceCredentials>
</configuration>
